<div class="col">
    <div class="page-title-container">
        <div class="row">

            <div class="col-12 col-md-7">
                <h1 class="mb-1 pb-0 display-4" id="title">User</h1>
                <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                    <ul class="breadcrumb pt-0" style="font-size: 15px;">
                        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/admin/user/list">User</a></li>
                        <li class="breadcrumb-item"><a routerLink="/admin/user/view">View</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <div class="col-12 col-lg-12">
        <div style="padding-bottom: 12px;">
            <label class="small-title">User Information</label>
            <button type="button" class="btn btn-primary mb-2" style="float: right;font-size: 16px;"
                (click)="onAddClient()">Add User Information</button>
        </div>
        <div class="col-12 col-lg-12">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row g-3 tooltip-end-top">
                        <div class="col-md-6">
                            <label class="form-label col-md-4 viewlabel"> First Name :</label>
                            <label for="firstName" class="form-label col-md-8">{{firstname}}</label>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label col-md-4 viewlabel">Last Name :</label>
                            <label for="lastName" class="form-label col-md-8">{{lastname}}</label>

                        </div>
                        <div class="col-md-6">
                            <label class="form-label col-md-4 viewlabel">Email :</label>
                            <label for="email" class="form-label col-md-8">{{email}}</label>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label col-md-4 viewlabel">Role : </label>
                            <label for="role" class="form-label col-md-8">{{role}}</label>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label col-md-4 viewlabel">Status :</label>
                            <label for="status" class="form-label col-md-8">{{status}}</label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label col-md-4 viewlabel">Designation :</label>
                            <label for="designation" class="form-label col-md-8">{{designation}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btncenter">
            <button class="btn btn-primary m-1" routerLink="/admin/user/list" style="font-size: 16px;">
                Back to List
            </button>
        </div>
    </div>
</div>