<div class="col">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="btnrptcontainer">
                    <mat-expansion-panel class="left-panle">
                        <mat-expansion-panel-header>
                          <mat-panel-title> Chart</mat-panel-title>
                          </mat-expansion-panel-header>
                          <button class="button-panle" [routerLink]="charturl">
                            Chart
                          </button>
                          <button class="button-panle" [routerLink]="chartDataurl">
                            Chart Data
                          </button>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="left-panle">
                        <mat-expansion-panel-header>
                          <mat-panel-title> Details</mat-panel-title>
                          </mat-expansion-panel-header>
                        <button class="button-panle" *ngIf="arrlength >= 1" [routerLink]="OneItem">
                            1 Item
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 2" [routerLink]="TwoItem">
                            2 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 3" [routerLink]="ThreeItem">
                            3 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 4" [routerLink]="FourItem">
                            4 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 5" [routerLink]="FiveItem">
                            5 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 6" [routerLink]="SixItem">
                            6 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 7" [routerLink]="SevenItem">
                            7 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 8" [routerLink]="EightItem">
                            8 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 9" [routerLink]="NineItem">
                            9 Items
                        </button>
                        <button class="button-panle" *ngIf="arrlength >= 10" [routerLink]="TenItem">
                            10 Items
                        </button>
                        <button class="button-panle" [routerLink]="counturl">
                            Count
                        </button>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel class="left-panle">
                        <mat-expansion-panel-header>
                          <mat-panel-title> Save</mat-panel-title>
                          </mat-expansion-panel-header>
                          <button class="btn btn-primary m-1" (click)="savereport()" style="background: #60a1e5;">
                            Save
                        </button>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
        <div class="col-10 table-body">
            <div class="card mb-2">
                <div class="card-body h-100">
                    <div class="col-12 col-lg-12">
                        <div style="padding-bottom: 12px;">
                            <label class="small-title">8 Item</label>
                            <button class="btn-copy" (click)="copy()"><i matTooltip="Copy table" class="fa fa-clone" aria-hidden="true"></i></button>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                                <table mat-table [dataSource]="dataSource">
        
                                    <tr class="mat-row text-center mt-2" *matNoDataRow>
                                        <td class="mat-cell" colspan="9999">
                                            <h4>No records found</h4>
                                        </td>
                                    </tr>
                                      
                                    <ng-container matColumnDef="Sr.No">
                                        <th mat-header-cell *matHeaderCellDef width="6%"> SN. </th>
                                        <td mat-cell *matCellDef="let element;let i = index">{{ (i + 1) }}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Reach">
                                        <th mat-header-cell *matHeaderCellDef width="6%"> Reach </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.reach }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Frequency">
                                        <th mat-header-cell *matHeaderCellDef width="6%"> Frequency </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.frequency }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Freqreach">
                                        <th mat-header-cell *matHeaderCellDef width="6%"> Freq(Reached) </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.freqreach }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Item">
                                        <th mat-header-cell *matHeaderCellDef> Item </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.item }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr1">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach1 </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.incremental_reach1 }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr2">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach2 </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.incremental_reach2 }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr3">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach3 </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.incremental_reach3 }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr4">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach4 </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.incremental_reach4 }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr5">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach5 </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.incremental_reach5 }} </td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr6">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach6</th>
                                        <td mat-cell *matCellDef="let element">{{ element.incremental_reach6 }}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr7">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach7</th>
                                        <td mat-cell *matCellDef="let element">{{ element.incremental_reach7 }}</td>
                                    </ng-container>
        
                                    <ng-container matColumnDef="Incr8">
                                        <th mat-header-cell *matHeaderCellDef width="7%"> Incr_reach8</th>
                                        <td mat-cell *matCellDef="let element">{{ element.incremental_reach8 }}</td>
                                    </ng-container>
        
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        (click)="selectedRow = selectedRow === row ? null : row"
                                        [ngClass]="{ 'selected': row == selectedRow }" (click)="highlight()"></tr>
                                </table>
                                <h5>*NA denote respective item combination not found in previous combination.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-2">
            <div class="btnrptcontainer">
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 1" [routerLink]="OneItem">
                    1 Item
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 2" [routerLink]="TwoItem">
                    2 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 3" [routerLink]="ThreeItem">
                    3 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 4" [routerLink]="FourItem">
                    4 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 5" [routerLink]="FiveItem">
                    5 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 6" [routerLink]="SixItem">
                    6 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 7" [routerLink]="SevenItem">
                    7 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 9" [routerLink]="NineItem">
                    9 Items
                </button>
                <button class="btn btn-primary m-1" *ngIf="arrlength >= 10" [routerLink]="TenItem">
                    10 Items
                </button>
                <button class="btn btn-primary m-1" [routerLink]="chartDataurl">
                    Chart Data
                </button>
                <button class="btn btn-primary m-1" [routerLink]="counturl">
                    Count
                </button>
                <button class="btn btn-primary m-1" [routerLink]="charturl">
                    Chart
                </button>
                <button class="btn btn-primary m-1" (click)="savereport" style="background: #60a1e5;">
                    Save
                </button>
            </div>
        </div> -->
    </div>


</div>